@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --foreground: rgb(240, 10%, 3.9%);
    --card: rgb(0, 0%, 100%);
    --card-foreground: rgb(240, 10%, 3.9%);
    --popover: rgb(0, 0%, 100%);
    --popover-foreground: rgb(240, 10%, 3.9%);
    --primary: rgb(240, 5.9%, 10%);
    --primary-foreground: rgb(0, 0%, 98%);
    --secondary: rgb(255, 209, 220);
    --secondary-foreground: rgb(240, 5.9%, 10%);
    --muted: rgb(255, 209, 220);
    --muted-foreground: rgb(240, 3.8%, 46.1%);
    --accent: rgb(255, 209, 220);
    --accent-foreground: rgb(240, 5.9%, 10%);
    --destructive: rgb(0, 84.2%, 60.2%);
    --destructive-foreground: rgb(0, 0%, 98%);
    --border: rgb(255, 209, 220);
    --input: rgb(255, 209, 220);
    --ring: rgb(240, 5.9%, 10%);
    --radius: 0.5rem;
    --timelinedots: rgb(255, 209, 220);
    --timeline-line: rgb(255, 209, 220);
    --timeline-cards: rgb(255, 209, 220);
    --background: rgb(255, 209, 220); /* Fundo da header */
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  body {
    @apply bg-background text-foreground;
    overflow-x: hidden;
    background-color: var(--background); /* Cor sólida para o fundo */
    background-image: linear-gradient(90deg, #ffffff 1px, transparent 1px), linear-gradient(180deg, #ffffff 1px, transparent 1px);
    background-size: 50px 50px; /* Quadrados maiores */
  }

  /* Aplica a animação no corpo da página */
  .fade-in {
    animation: fadeIn 2s ease-in-out;
  }
}
